/* BlanchCentreHistory.com */

/* Place title and hamburger menu on same line on mobile. */
.site-header .wrap { display: flex; justify-content: space-between; }
@media only screen and (min-width: 960px) {
	.site-header .wrap { display: initial; }
}

.admin-note { border: 1px dashed #ccc; font-style: italic; margin-bottom: 28px; }

summary { cursor: pointer; }


.shop-info { padding-top: 1.5em; } /* Compensate for p:last-child that is directly before this has margin-bottom:0. */

.stores-list { display: flex; flex-wrap: wrap; margin-bottom: 2em; }
.stores-list div { border-bottom: 1px dashed #ccc; width: 50%; }
@media only screen and (min-width: 960px) {
	.stores-list div { width: 33%; }
}

/* Based on: http://wpsites.net/web-design/add-css-corner-ribbon-to-page-or-post-content/ */
/*.shop-closed {
  overflow: hidden;
}
.shop-closed::before {
    background-color: #c15a5c;
    border: 1px solid rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 2px rgba( 255,255,255,0.5), 0 1px 2px rgba( 0,0,0,0.3 );
	-webkit-box-shadow: inset 0 0 2px rgba( 255,255,255,0.5), 0 1px 2px rgba( 0,0,0,0.3 );
	box-shadow: inset 0 0 2px rgba( 255,255,255,0.5), 0 1px 2px rgba( 0,0,0,0.3 );
	color: #fff;
	content: "Closed";
	font-size: 13px;
	font-weight: bold;
	padding: 10px 65px;
	position: absolute;
	right: -40px;
    top: 20px;
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}

.shop-closed {
    position: relative;
    overflow: hidden;
}*/

/* Based on: http://sridharkatakam.com/add-new-ribbon-posts-published-last-7-days-genesis/ */
/* ## New Ribbon
--------------------------------------------- */

article.type-post {	position: relative; }

.ribbon-wrapper-red {
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
	width: 85px;
	height: 88px;
}

.ribbon-red {
	position: relative;
	top: 15px;
	left: -5px;
	width: 120px;
	padding: 7px 0;
	color: #fff;
	background-color: #dc7a7a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dc7a7a), to(#bf4545));
	background-image: -webkit-linear-gradient(top, #dc7a7a, #bf4545);
	background-image: -moz-linear-gradient(top, #dc7a7a, #bf4545);
	background-image: -ms-linear-gradient(top, #dc7a7a, #bf4545);
	background-image: -o-linear-gradient(top, #dc7a7a, #bf4545);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
	font: bold 15px Sans-Serif;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.ribbon-red:before,
.ribbon-red:after {
	position: absolute;
	bottom: -3px;
	border-top: 3px solid #890000;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	content: "";
}

.ribbon-red:before { left: 0; }
.ribbon-red:after { right: 0; }

/* For left/right unit navigation. */
.single-unit-num { display: flex; justify-content: space-between; } /* Maybe use space-between on mobile. */

/* Unit history */
ul.unit_history { margin-bottom: 28px; } /* Same margin-bottom as paragraph. */

